.btn-square-little-rich {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: rgb(252, 150, 16);/*色*/
  border: solid 1px orange;/*線色*/
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}
.btn-square-little-rich:active {
  /*押したとき*/
  border: solid 1px #03A9F4;
  box-shadow: none;
  text-shadow: none;
}
.button_size{
    width: 100%;
}

.button1 {
    border: 1px solid #ec1515;
    background-color: #f04949;
    background-image: -webkit-linear-gradient(top, #f04949, #e32c2c);
    background-image: linear-gradient(to bottom, #f04949, #e32c2c);
    border-radius: 4px;
    color: #fff;
    line-height: 20px;
    -webkit-transition: none;
    transition: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  }
  .button1:hover {
    border:1px solid #c31010;
    background-color: #ec1a1a;
    background-image: -webkit-linear-gradient(top, #ec1a1a, #c21a1a);
    background-image: linear-gradient(to bottom, #ec1a1a, #c21a1a);
  }
  .button1:active {
    background: #c21a1a;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .2);
    color: #a11616;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .5);
  }

  .button2 {
    border: 1px solid #15aeec;
    background-color: #49c0f0;
    background-image: -webkit-linear-gradient(top, #49c0f0, #2cafe3);
    background-image: linear-gradient(to bottom, #49c0f0, #2cafe3);
    border-radius: 4px;
    color: #fff;
    line-height: 20px;
    -webkit-transition: none;
    transition: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  }
  .button2:hover {
    border:1px solid #1090c3;
    background-color: #1ab0ec;
    background-image: -webkit-linear-gradient(top, #1ab0ec, #1a92c2);
    background-image: linear-gradient(to bottom, #1ab0ec, #1a92c2);
  }
  .button2:active {
    background: #1a92c2;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .2);
    color: #1679a1;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .5);
  }

  .button3 {
    border: 1px solid #eccc15;
    background-color: #f0df49;
    background-image: -webkit-linear-gradient(top, #f0d149, #e3c12c);
    background-image: linear-gradient(to bottom, #f0df49, #e3d12c);
    border-radius: 4px;
    color: #fff;
    line-height: 20px;
    -webkit-transition: none;
    transition: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  }
  .button3:hover {
    border:1px solid #c3b110;
    background-color: #ecde1a;
    background-image: -webkit-linear-gradient(top, #ecde1a, #c2b71a);
    background-image: linear-gradient(to bottom, #ecde1a, #c2b71a);
  }
  .button3:active {
    background: #c2b71a;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .2);
    color: #a19816;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .5);
  }