h1 {
    text-align: center;
    font-weight: lighter;
}
h2 {
    text-align: center;
    font-weight: lighter;
}
h3 {
    font-weight: lighter;
}
header{
    padding: 0.5em 1em;
    margin: 2em 0;
    background: #FFF;
    border-bottom: solid 1.5px #b4b4b4;
}
header h1 {
    margin: 0; 
    padding: 0;
    font-weight: lighter;
}
.userinfo {
    border: double 5px orange;
    background: -webkit-repeating-linear-gradient(-45deg, #fffbf0, #fffbf0 3px,#fff9e9 3px, #fff9e9 7px);
    background: repeating-linear-gradient(-45deg, #fffbf0, #fffbf0 3px,#fff9e9 3px, #fff9e9 7px);
}

.fhoto_circle {
    width: 60%;
    height: 60%;
    border-radius: 50%;
    background-color: #13bfbb;
    margin: 20% auto;
}

.TitleBox {
    margin: 0 auto;
    width: 240px;
}
.TitleStyle {
    padding: 0.5em 1em;
    margin: 2em 0;
    background: #FFF;
    border-bottom: solid 1.5px #b4b4b4;
    font-weight: lighter;
    margin: 0; 
    padding: 0;
}
.DBlist {
    width: 100%;
    position: relative;
    background: #fff0cd;
    box-shadow: 0px 0px 0px 5px #fff0cd;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    margin:  0 auto;
    color: #454545;
}
.DBlist:after{
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #ffdb88 #fff #ffdb88;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}