
header{
    padding: 0.5em 1em;
    margin: 2em 0;
    background: #FFF;
    border-bottom: solid 1.5px #b4b4b4;
}
.userinfo {
    border: double 5px orange;
    background: -webkit-repeating-linear-gradient(-45deg, #fffbf0, #fffbf0 3px,#fff9e9 3px, #fff9e9 7px);
    background: repeating-linear-gradient(-45deg, #fffbf0, #fffbf0 3px,#fff9e9 3px, #fff9e9 7px);
}
.useimage{
    width: 180px;
    margin: auto auto;
}
.buttons{
    /*border: solid;
    border-color: blue;
    border-width: thin;*/
}
.fhoto_circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #13bfbb;
    margin: 20% auto;
}
.container2{
    margin: 0 auto;
    width: 240px;
}
.TitleStyle {
    padding: 0.5em 1em;
    margin: 2em 0;
    background: #FFF;
    border-bottom: solid 1.5px #b4b4b4;
    margin: 0; 
    padding: 0;
}
.TitleSize{
    font-size: 230%;
    text-align: center;
    font-weight: lighter;
}
.TitleSize2{
    font-size: 140%;
    text-align: center;
    font-weight: lighter;
}
.formstyle{
    text-align: center;
}
.DBlist {
    width: 100%;
    position: relative;
    background: #fff0cd;
    box-shadow: 0px 0px 0px 5px #fff0cd;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    margin:  0 auto;
    color: #454545;
}
.DBlist:after{
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #ffdb88 #fff #ffdb88;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}

.td_0 {
    width: 11%;
}
.td_1 {
    font-size: 200%;
    text-align: start;
    /*border: solid;
    border-color: pink;
    border-width: thin;*/
}
.td_2 {
    width: 33%;
    text-align: center;
    /*border: solid;
    border-color: blue;
    border-width: thin;*/
}
table{
    width: 100%;
}
tr{
    width: 100%;
    /*border: solid;
    border-color: orange;
    border-width: thin;*/
}
.status{
    margin: 0 1em;
    /*border: solid;
    border-color: black;
    border-width: thin;*/
}